.credit-section {
  padding: 65px 20px;
  background-color: #f9f9f9;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.credit-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: 700;
}

.credit-section h2 button {
  font-size: 1.5rem;
  font-weight: 600;
  background: white;
  border: 2px solid black;
  padding: 0.2rem 0.9rem;
  display: inline-block;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
  font-family: 'General Sans', sans-serif;
}

.members-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.member-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 10px;
  height: 330px;
  width: 240px;
  transition: transform 0.3s ease;
}

.member-card:hover {
  transform: translateY(-10px);
}

.member-photo {
  width: 100%;
  height: 100%;
  border-radius: 8%;
  object-fit: fill;
  border: 8px solid black;
}

/* New animations for photo transitions */
@keyframes moveUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.move-up {
  animation: moveUp 1s ease forwards;
}

.move-down {
  animation: moveDown 1s ease forwards;
}

.member-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #222;
}

.member-card p {
  font-size: 16px;
  color: #666;
  margin: 0;
}

/* Scroll to top button */
.scrollTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  align-items: center;
  justify-content: center;
  display: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.scrollTop:hover {
  background-color: #fdcc04;
  transform: scale(1.1);
  color: #333;
}
